<div class="container-fluid">
    <div class="row px-xl-5">

        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Reviews</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr *ngFor="let item of products; let i=index;">
                        
                            <td>{{i+1}}</td>
                            <td class="align-middle"><img src="./../../../../{{item.img}}" alt="" style="width: 50px;"></td>
                            <td class="align-middle">{{item.name}}</td>
                            <td class="align-middle">${{item.price}}</td>
                            <td class="align-middle">
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>({{item.reviews}})</small>
                                </div>
                            </td>
                            <td class="align-middle">{{item.quantity}}</td>
                            <td class="align-middle"><button class="btn btn-sm btn-danger" (click)="removeWishItem(item)"><i
                                class="fa fa-times"></i></button>
                            </td>
                       
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>